<p id="notice"><%= notice %></p>

<p><%= @debug %></p>
<p>
  <%= link_to 'Back', devices_path %>
</p>

<% @wrap_array.each do |device_image| %>
    <tr>
      <img src="/assets/<%= device_image %>" height="500"/>
    </tr>
<% end %>

